@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Inter", sans-serif;
}
@font-face {
  font-family: 'Grandista';
  src: url('../assets/fonts/Grandista.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

